.chat-zone {
  display: flex;
  flex-direction: column;
  padding: 2%;
  /* overflow-y: scroll; */
}

.chat-zone p {
  max-width: 45%;
  display: flex;
  align-items: center;
  padding: 1.5%;
  border-radius: 25px;
  margin-bottom: 1.5%;
}

.user-message {
  background-color: aquamarine;
  text-align: right;
  align-self: flex-end;
}

.bot-message {
  background-color: aliceblue;
  text-align: left;
  align-self: flex-start;
}
